{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<h1>Вход</h1>
{% if form.errors %}
<p>
    Пользователь с введённым именем пользователя и паролем не существует.
    Пожалуйста, введите данные заново.
</p>
{% else %}
<p>Заполните форму для входа в систему.
    Или нажмите <a href="{% url 'register' %}">зарегистрироваться</a>, если у вас ещё нет аккаунта.
</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <p><input type="submit" value="Войти"></p>
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Не помните пароль?</a>
    </p>
</div>
<div class="social">
    <ul>
        <li class="vk">
            <a href="{% url "social:begin" "vk-oauth2" %}">
            Войти с помощью учётной записи VK
            </a>
        </li>
        <li class="github">
            <a href="{% url "social:begin" "github" %}">
            Войти с помощью учётной записи Github
            </a>
        </li>
        <li class="google">
            <a href="{% url "social:begin" "google-oauth2" %}">
            Войти с помощью учётной записи Google
            </a>
        <li class="facebook">
            <a href="{% url "social:begin" "facebook" %}">
                Войти с помощью учётной записи Facebook
            </a>
        </li>
        <li class="twitter">
            <a href="{% url "social:begin" "twitter" %}">
                Войти с помощью учётной записи Twitter
            </a>
        </li>
    </ul>
</div>
{% endblock %}